<app-search (searchTitle)="lookupTvShow($event)"></app-search>
<div class="switch">
  <label>
    Not online
    <input type="checkbox" [(ngModel)]="isOnline">
    <span class="lever"></span>
    Online
  </label>
</div>


<div *ngIf="tvShowObservable | async as searchResults">
  <h2>Search results</h2>

  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let tvshow of searchResults">
      <div>
        <app-media [media]="tvshow"></app-media>
      </div>
      <a class="btn" (click)="addThisTvShow(tvshow)">Add to collection</a>
    </li>
  </ul>
</div>


