<ul>
  <li *ngFor="let receivedMessage of messages">received: {{receivedMessage}}</li>
</ul>
<input [(ngModel)]="msg" type="text">
<input (click)="sendMsg()" type="button" value="send" class="btn btn-floating">
