<div class="row">
  <form novalidate>
    <div class="input-field col s6">
      <label for="title">Title</label>
      <input appForbiddenValidatorDirective regexTitle="porn|test" placeholder="title" id="title" type="text"
             name="title" (input)="lookup(search)" #search="ngModel" ngModel minlength="2">
      <div *ngIf="search.control?.errors?.errorMsg">
                <span *ngFor="let error of [search?.errors]"
                      [ngClass]="{'helper-text error': !search.control.pristine}">{{error.errorMsg}}</span>
      </div>
      <span *ngIf="search.control?.errors?.minlength"
            [ngClass]="{'helper-text error': !search.control.pristine}">Min length is 2</span>
    </div>
  </form>
</div>
