<app-search (searchTitle)="lookupMovie($event)"></app-search>
<div class="switch">
  <label>
    Private
    <input type="checkbox" [(ngModel)]="isPublic">
    <span class="lever"></span>
    Public
  </label>
</div>


<div *ngIf="movieObservable | async as searchResults">
  <h2>Search results</h2>

  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let movie of searchResults">
      <div>
        <app-media [media]="movie"></app-media>
      </div>
      <a class="btn" (click)="addThisMovie(movie)">Add to collection</a>
    </li>
  </ul>
</div>


