<h1>{{title}}</h1>
<app-search (searchTitle)="lookupMovie($event)"></app-search>
<div class="switch">
  <label>
    Not online
    <input type="checkbox" [(ngModel)]="isOnline">
    <span class="lever"></span>
    Online
  </label>
</div>
<div class="switch">
  <label>
    Private
    <input type="checkbox" [(ngModel)]="isPublic">
    <span class="lever"></span>
    Public
  </label>
</div>
<ul class="collection">
  <li class="collection-item avatar" *ngFor="let movie of movies | async">
    <div (click)="showDetail(movie)">
      <app-media [media]="movie"></app-media>
    </div>
    <input type="button" class="btn-small" value="Delete" (click)="deleteMovie(movie)"/>
  </li>
</ul>


