<app-search (searchTitle)="lookupTvShow($event)"></app-search>
<div class="switch">
  <label>
    Not online
    <input type="checkbox" [(ngModel)]="isOnline">
    <span class="lever"></span>
    Online
  </label>
</div>
<!--<div class="switch">-->
<!--  <label>-->
<!--    Private-->
<!--    <input type="checkbox" [(ngModel)]="isPublic">-->
<!--    <span class="lever"></span>-->
<!--    Public-->
<!--  </label>-->
<!--</div>-->
<ul class="collection">
  <li class="collection-item avatar" *ngFor="let show of tvshows | async">
    <div (click)="showDetail(show)">
      <app-media [media]="show"></app-media>
    </div>
    <input type="button" class="btn-small" value="Delete" (click)="deleteTvshow(show)"/>
  </li>
</ul>
