<div class="row">
  <div class="col s6 m12" >
    <div class="card" *ngIf="movie !== undefined">
      <span class="card-title">{{movie.title}}</span>
      <div class="card-image">
        <img src="{{movie.poster}}">
      </div>
      <div class="card-content grey-text text-darken-4">
        <!-- Use this for every property of a movie, just copy and paste -->
        <div class="row">
          <span class="col s12">Plot:{{movie.plot}}</span>
        </div>
        <div class="row">
          <span class="col s2 m4">Rating:{{movie.rating}}</span>
          <span class="col s4 m4">Year: {{movie.year}}</span>
          <span class="col s6 m4">Seen?: {{movie.seen}}</span></div>
      </div>
      <div class="card-action">
        <a class="btn" [routerLink]="['/movies']">Go Back</a>
      </div>
    </div>
  </div>
</div>
