<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Movie app!</a>
      <ul class="right">
        <li><a [routerLink]="['movies/chat']">Chat</a></li>
        <!--        <li><a class="dropdown-trigger" data-target="tvshowDropDown">Tv shows</a></li>-->
        <!--        <li><a class="dropdown-trigger" data-target="movieDropDown">Movies</a></li>-->
        <li><a [routerLink]="['tvshows/add']">Add tvshows</a></li>
        <li><a [routerLink]="['tvshows']">Tvshow overview</a></li>
        <li><a [routerLink]="['movies/add']">Add movie</a></li>
        <li><a [routerLink]="['movies']">Movie Overview</a></li>
      </ul>
    </div>
    <!--    <ul id="tvshowDropDown" class="dropdown-content" >-->
    <!--      <li><input class="btn btn-floating" value="Add" [routerLink]="['tvshows/add']" ></li>-->
    <!--      <li><input class="btn btn-floating" value="Overview" [routerLink]="['tvshows']" ></li>-->
    <!--    </ul>-->
    <!--    <ul id="movieDropDown" class="dropdown-content" >-->
    <!--      <li><input class="btn btn-floating" value="Add" [routerLink]="['movies/add']" ></li>-->
    <!--      <li><input class="btn btn-floating" value="Overview" [routerLink]="['movies']" ></li>-->
    <!--    </ul>-->
  </nav>
</div>

